<!--* Se agrega Bootstrap xa iniciar con la pagina -->
<div class="container content">
  <div class="row">
    <div class="col-md-6">
      HOLA
    </div>
    <div class="col-md-6">
      MUNDO!
    </div>
  </div>
</div>

