<!--~ Agregamos los formularios-->
<form [formGroup]="fg" (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)" >
  <div	class="form-group">
    <label	for="nombre">Nombre</label>
    <!--^se agrega variable de plantilla con el "#" -->
    <input	type="text"	class="form-control"	id="nombre"	placeholder="Ingresar nombre"
    [formControl]="fg.controls['nombre']">
    <!--*Se agrega lista de sugerencias-->
    <ul>
      <li *ngFor= "let r of searchResults;" >{{r}}</li>
    </ul>
    <!--~ Mostrar Mensaje al usuario-->
    <div *ngIf="fg.controls['nombre'].hasError('required')">Nombre Requerido!</div>
    <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')">Nombre Invalido!</div>
    <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')">Nombre debe tener al menos {{minLongitud}} de largo!</div>
  </div>
  <div	class="form-group">
    <label	for="Imagen	Url">Imagen	Url</label>
    <input	type="text"	class="form-control"	id="imagenUrl"	placeholder="Ingresar	url"
    [formControl]="fg.controls['url']">
  </div>
  <!--*se agrega el evento al btn con "click"-->
  <button	type="submit"	class="btn btn-primary" *ngIf="fg.valid">Guardar</button>
</form>
