
<div class="container content">
  <!--*Agregamos un Header-->
  <div class="page-header">
    <div style="float: right;">
      <select (change)= "translate.use($event.target.value)">
        <option value="es">Español</option>
        <option value="fr">France</option>
        <option value="en">English</option>
      </select>
    </div>
    <!--~ Agregamos un container-->
    <div class="container">
      <h1>Routing Simple</h1>
      <div class="navLinks">
        <!--Cambiamos "href" por un modificador de Angular -->
        <a [routerLink]="['/home']">Home</a>
        <a [routerLink]="['/detalle']">Detalle</a>
      </div>
    </div>
  </div>

  <div class="row">
    <h1>
      {{ title }} <b [innerHTML]="'HOLA' | translate"></b>
    </h1>
  </div>
  <!--^Se cambia para que sea una variable-->
  <router-outlet></router-outlet>
</div>
<!--~Agregamos un Rendereo-->
<hr	class="mb-5">
<!--Se agrega Fecha-->
Fecha :{{ time | async}}

